.primary__btn {
    display: grid;
    place-items: center;
    font-weight: 600;
    background: #dbdbdb;
    height: 80px; 
    font-size: 20px;
    box-sizing: border-box;
}

.primary__btn.orange {
    background: #db873d;
    color: #fff5cc;
}

.primary__btn.expand {
    grid-column: 1 / span 2;
}